.intro-section {
  background: palette(white);
  min-height: 1%;
  overflow: hidden;
  margin-top: 0;

  @include mq($from: break-medium) {
    margin-top: ritmo(10);
    position: relative;
  }
}

.intro-section__left {
  padding-top: ritmo(14);
  color: palette(blue, dark);
  text-align: center;
  @include span(6);
  margin-bottom: ritmo(5);

  @include mq($from: break-large) {
    text-align: left;
    @include span(isolate 3.5 at 1);
    padding-left: 25px;
  }

  h5 {
    @include ritmo-font-size(24px);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: ritmo(1);
  }

  h1 {
    @include ritmo-font-size(60px);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 0;

    @include mq($from: break-small) {
      @include ritmo-font-size(75px);
    }

    @include mq($from: break-large) {
      @include ritmo-font-size(45px);
    }

    @include mq($from: 1350px) {
      @include ritmo-font-size(60px);
    }

    @include mq($from: 1750px) {
      @include ritmo-font-size(75px);
    }
  }

  .know-more {
    @extend .button-green;

    @include mq($from: break-large) {
      @include ritmo-font-size(16px);
    }
  }
}

.intro-section__title {
  @include span(6);
  margin-bottom: ritmo(5);

  @include mq($from: break-large) {
     @include span(isolate 2 at 1);
  }

  @include mq($from: break-big) {
     @include span(isolate 2 at 2);
  }
}

.intro-section__organization {
  @include span(6);
  padding: 0 5%;
  text-align: center;

  @include mq($from: break-small) {
    padding: 0 20%;
  }

  @include mq($from: break-large) {
     @include span(isolate 3 at 4.5);
     text-align: left;
  }

  p {
    margin-bottom: ritmo(1);
    color: palette(blue);
  }
}

.intro-section__organization__coordination {
  overflow: hidden;
  margin-bottom: ritmo(4);
}

.intro-section__organization__logo {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;

  @include mq($from: break-large) {
    margin: 0 40px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.intro-section__right {
  @include span(6);
  height: ritmo(50);
  background: url(/images/home/img_drupal_aveiro_1.jpg)  center bottom no-repeat transparent;
  background-size: contain;

  @include mq($from: break-large) {
    position: absolute;
    background: url(/images/home/img_drupal_aveiro_1.jpg) 60px bottom no-repeat transparent;
    background-size: cover;
    height: 100%;
    @include span(isolate 2.5 at 4.5);
  }
}
