.map-section {
  @extend .section-commons;
  background: palette(grey, xx-light);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3) inset;
  padding: ritmo(10) 0 0 0;

  .section-titles__underlines {
    background: palette(black);

    &:after {
      background: palette(black);
    }
  }

  iframe {
    vertical-align: middle;
  }
}

.map-section__pointer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: palette(grey, xx-light) transparent transparent transparent;
}

.map-section__gmap iframe{
  pointer-events: none;
}
