.partners-section {
  @extend .section-commons;
  background: palette(white);

  .section-titles__underlines {
    background: palette(black);

    &:after {
      background: palette(black);
    }
  }
}

.partners {
  @include container(800px);
  text-align: center;

  p {
    margin-bottom: ritmo(1);
  }
}

.partners__organization {
  text-align: left;
  //@include span(6);
  margin-bottom: ritmo(5);
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.partners__organization-organizer {
  //@include span(3);
}

.partners__host {
  //@include span(3);
}

.partners__support {
  text-align: center;
  //@include span(6);
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}
