.register-section {
  @extend .section-commons;
  background: palette(grey, xx-light);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3) inset;

  .section-titles__underlines {
    background: palette(black);

    &:after {
      background: palette(black);
    }
  }

  p {
    font-weight: 300;
    display: block;
    margin: ritmo(6) auto ritmo(3) auto;
  }

  p.pre-countdown {
    margin: ritmo(10) auto 0 auto;
    color: palette(red, mid-dark)
  }

  a {
    @extend .button-primary;
    padding: ritmo(3) 40px;
  }
}

.register-countdown {
  @include container (620px);
}

.register-countdown__numbers {
  display: inline-block;
  margin-right: 10px;
  @include ritmo-font-size(30px);
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2.6em;

  &:last-child {
    margin-right: 0;
  }

  @include mq($from: break-small) {
    @include ritmo-font-size(40px);
    margin-right: 40px;
  }

  @include mq($from: break-medium) {
    @include ritmo-font-size(70px);
  }
}

.register-countdown__numbers span {
  display: block;
  padding-top: ritmo(1);
  letter-spacing: 0.2em;
  @include ritmo-font-size(10px);
  text-transform: uppercase;
  text-align: center;
  color: palette(red, mid-dark);
  font-weight: 400;

  @include mq($from: break-small) {
    @include ritmo-font-size(12px);
  }

  @include mq($from: break-medium) {
    @include ritmo-font-size(14px);
  }
}

.register-options__wrapper {
  @include container(1000px);
}

.register-option {

  @include mq($from: break-medium) {
    @include span(2.5);
    @include squish(.25);
  }
}

.register-option__title {
  @include ritmo-font-size(21px);
  text-transform: uppercase;
  font-weight: bold;
  @include ritmo-bottom-margin(2);
}

.register-option__info {
  @include ritmo-bottom-margin(2);
}
