.schedule-section {
  @extend .section-commons;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0, 0.3) inset;

  .section-titles__underlines {
    background: palette(black);

    &:after {
      background: palette(black);
    }
  }
}

.schedules__wrapper {
  @include container (1400px);
}


.schedule {
  text-align: left;
  @include ritmo-margins(15);
  @include container (1400px);
  padding: 40px;

  &--highlight {
    background: palette(grey, xx-light);
  }
}

.schedule__info {
  @include mq($from: break-large) {
    @include span(3);
  }
}

.schedule__times {
  @include mq($from: break-large) {
    @include span(3);
  }
}

.schedule__title {
  @include ritmo-font-size(24px);
  @include ritmo-bottom-margin(1);
  text-transform: uppercase;
  text-align: center;
}

.schedule__subtitle {
  text-align: center;
  @include ritmo-bottom-margin(4);
  font-style: italic;
}

%schedule-center-text-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.schedule__line {
  width: 100%;
  //border-bottom: rgba(palette(grey, mid-dark), 0.3) 1px solid;
  box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.3) inset;
  @include ritmo-paddings(4);
  @include clearfix();
  position: relative;
}

.schedule__line__inner {
  position: relative;
  float: left;
  width: 100%;
  transform: translateY(50%);
}

.schedule__line--break {
  background: palette(grey, x-light);
}

.schedule__line-hour {
  @include span(3 at 1);
  padding-left: 20px;
  @extend %schedule-center-text-vertically;

  @include mq($from: break-medium-small) {
    @include span(2 at 1);
    padding-left: 35px;
  }
}

.schedule__line-speaker {
  @include span(3 at 4);
  @extend %schedule-center-text-vertically;

  @include mq($from: break-medium-small) {
    @include span(4 at 3);
  }

  a {
    color: palette(blue, dark);

    &:hover,
    &:focus {
      color: palette(blue);
    }
  }

  ul {
    margin: 0;
    padding: 0;


    li {
      border-bottom: 1px solid palette(grey);
      padding: 8px 0;
      @include ritmo-font-size(14px);
      text-indent: 10px;

      &:last-child {
        border-bottom: none;
        padding: 8px 0 0 0;
      }
    }
  }
}

.schedule__line-speaker--big-line {

  @include mq($until: 575px) {
    //height: ritmo(22);
  }
}

.schedule__line-logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
