.drupal-social__wrapper {
  width: 100%;
  text-align: center;
}

.drupal-social {
  margin: 0 auto;
  padding: 0;
}

.drupal-social li {
  display: inline-block;
  margin-right: ritmo(4);
  @include ritmo-font-size(50px);

  &:last-child {
    margin-right: 0;
  }

  a span {
    color: palette(white);
    transition: color ease 0.3s;

    &:hover {
      color: palette(blue, x-light);
    }
  }
}
