include ./_partials/_intro-section

include ./_partials/_about-section

//- include ./_partials/_speakers-section

include ./_partials/_register-section

include ./_partials/_schedule-section

//- include ./_partials/_proposals-section

include ./_partials/_map-section

//- include ./_partials/_presentations-section

#sponsors-section
  include ./_partials/_organized-section

  include ./_partials/_partners-section

include ./_partials/_contacts-section
