section#about-section.about-section

  h4.section-titles Learning by sharing

  .section-titles__underlines

  p Cowork Buzz pops-up as an event dedicated to cowork and coliving, curated with a special touch. The buzz is huge! Cowork is here to stay and all the lovers of this movement should come together and understand where the future leads us.


  p Let’s join experiences to understand and discuss the current state of this community, what are the trends, common difficulties and strengths, ways to help each other, unite and grow.


  p The event will take place one week after the Coworking Europe Conference and this will allow us to use Cowork Buzz as a way to debrief the national community about what happened in Brussels.

  h6 Follow us
  include _social-media
