section#about-section.about-section

  h4.section-titles Learning by sharing

  .section-titles__underlines

  p
    Cowork Buzz pops-up as an event dedicated to cowork and curated with a special touch. The buzz is huge! Cowork is here to stay and all the lovers of this movement should come together and understand where the future leds us.

  p Let’s understand and discuss the current state of this community, what are the trends in the area, common difficulties and strengths, ways to help each other, unite and grow. The event will take place one week after the Coworking Europe Conference event in Brussels and this will allow us to use our Cowork Buzz as a way to debrief the national community about everything that was discussed on the big event.

  h6 Follow us
  include _social-media
