section#about-section.about-section

  h4.section-titles Learning by sharing

  .section-titles__underlines

  p <strong>Cowork Buzz</strong> was born in 2016 as an <strong>event dedicated to cowork and coliving</strong>, curated with a special touch. Since the buzz is really huge, we are here to stay and continue bringing the coworking ecosystem forward.

  p The main idea is to bring the community together to understand where we are standing, what are the trends, common difficulties, and strengths, ways to help each other, <strong>unite and grow</strong>.

  p The event will take place in December in Matosinhos (Porto) after the #[a(href="http://coworkingeurope.net/" target="_blank") Coworking Europe Conference 2017] and this will allow us to use Cowork Buzz as a way to debrief the <strong>national community</strong> about what happened in Dublin this year.

  p Don't miss out the opportunity to be part of the conversation!

  h6 Follow us
  include _social-media
