section#about-section.about-section

  h4.section-titles Acerca do Drupal Day

  .section-titles__underlines

  p
    | Integrado no evento&nbsp;
    a.about-links(href="http://www.techdays.pt/" target="_blank") Techdays
    | &nbsp;promovido pela&nbsp;
    a.about-links(href="http://www.cm-aveiro.pt/" target="_blank") Câmara Municipal de Aveiro
    | &nbsp;,o Drupal Day, teve por objetivo reunir a comunidade para partilha de experiências e conhecimento. Se não tiveste a oportunidade de participar, podes consultar as&nbsp;
    a.about-links(href="/#presentation" target="_self") apresentações
    |.

  h6 Segue-nos e descobre mais<br>sobre o Drupal Portugal
  include _social-media

  h6 Vamos partilhar a paixão pelo Drupal!

