section#apply-section.apply-section

  h4.section-titles Inscrição

  .section-titles__underlines

  p.pre-countdown Faltam

  .apply-countdown

  p Os lugares são limitados por isso não percas o teu.<br>Infelizmente os lugares no passeio de moliceiro já estão esgotados.

  a(href="http://registos.techdays.pt/Account/Registo" target="_blank") Inscreve-te aqui

