footer.footer

  .footer__copyright
    p Cowork Buzz brought to you by <a href="http://porto.io" target="_blank">Porto i/o</a>, #{new Date().getFullYear()}.

  .footer__social
    p Follow us
    include _social-media
