section#pagetop-section

  header

    .navigation#navigation

      .navigation__mobile-menu__toggle

        span.navigation__mobile-menu__icon

      ul.navigation__menu

        li.navigation__menu__item
          a(href='/#pagetop') Home

        li.navigation__menu__item
          a(href='/#about') About

        li.navigation__menu__item
          a(href='/#register') Registration

        li.navigation__menu__item
          a(href='/#schedule') Programme

        //-li.navigation__menu__item
        //-  a(href='/#speakers') Special Guests

        //-li.navigation__menu__item
        //-  a(href='/#map') Location

        li.navigation__menu__item
          a(href='/#sponsors') Sponsors

        li.navigation__menu__item
          a(href='/#contacts') Contact

        li.navigation__menu__item.navigation__menu__item--highlight.navigation__menu__item--right
          a(href='#{public._data.index.ticket_url}' target="_blank") Get Ticket
