section#pagetop-section

  header

    .navigation#navigation

      .navigation__mobile-menu__toggle

        span.navigation__mobile-menu__icon

      ul.navigation__menu

        li.navigation__menu__item
          a(href='/#pagetop') Início

        li.navigation__menu__item
          a(href='/#about') Acerca

        li.navigation__menu__item
          a(href='/#speakers') Oradores

        li.navigation__menu__item
          a(href='/#schedule') Programa

        li.navigation__menu__item
          a(href='/#proposals') Propostas

        li.navigation__menu__item
          a(href='/#apply') Inscrição

        li.navigation__menu__item
          a(href='/#map') Mapa

        li.navigation__menu__item
          a(href='/#presentation') Apresentações

        li.navigation__menu__item
          a(href='/#sponsors') Organizadores

        li.navigation__menu__item
          a(href='/#contacts') Contatos
