section#pagetop-section

  header

    .navigation#navigation

      .navigation__mobile-menu__toggle

        span.navigation__mobile-menu__icon

      ul.navigation__menu

        li.navigation__menu__item
          a(href='/#pagetop') Top

        li.navigation__menu__item
          a(href='/#about') About

        li.navigation__menu__item
          a(href='/#schedule') Program

        //-li.navigation__menu__item
        //-  a(href='/#speakers') Special Guests

        li.navigation__menu__item
          a(href='/#register') Registration

        li.navigation__menu__item
          a(href='/#map') Location

        li.navigation__menu__item
          a(href='/#sponsors') Sponsors

        li.navigation__menu__item
          a(href='/#contacts') Contact
