section#intro-section.intro-section

  .intro-section__inner

    .intro-section__title
      img(src="/images/home/coworkbuzz_logo.png")

      a.intro-section__action(href="#{public._data.index.ticket_url}" target="_blank") Get ticket

      span.intro-section__subtitle 10 December in Porto <br>Camp: 9 to 11
