section#intro-section.intro-section

  .intro-section__inner

    .intro-section__title
      img(src="/images/home/coworkbuzz_logo.png")

      a.intro-section__action(href="/#register") Get ticket

      span.intro-section__subtitle 9, 10 & 11 December ‘16<br>in Porto
