section#intro-section.intro-section

  .intro-section__left

    .intro-section__title
      h5 Drupal Day
      h1 Aveiro
      h5 17•09•2016
      //-a.know-more(href="/#schedule-section") Saber mais
      a.know-more(href="/#about") Saber mais

    .intro-section__organization

      .intro-section__organization__coordination

        .intro-section__organization__logo
          p Coordenação
          a(href="https://groups.drupal.org/node/512703" target="_blank")
            img(src="/images/home/logo_drupal_pt.jpg")

        .intro-section__organization__logo
          p Anfitrião
          a(href="http://www.techdays.pt/" target="_blank")
            img(src="/images/home/logo_techdays.jpg")

      .intro-section__organization__support

        p Apoio

        .intro-section__organization__logo
          a(href="http://marzeelabs.org/" target="_blank")
            img(src="/images/home/logo_marzeelabs.jpg")

        .intro-section__organization__logo
          a(href="http://www.pictonio.com/" target="_blank")
            img(src="/images/home/logo_pictonio.jpg")

  .intro-section__right
