section#organized-section.organized-section

  h4.section-titles Organised by

  .section-titles__underlines

  p Cowork Buzz was crafted with love by #[a(href="http://porto.io/" target="_blank") Porto i/o] team. <br> From the community to the community.

  .organized

    .organized__organization

      .organized__organization-organizer

        a(href="http://porto.io/" target="_blank")
          img(src="/images/home/logo_porto_io.png")
