section.partners-section

  h4.section-titles Partners

  .section-titles__underlines

  p This event wouldn’t be possible without the beautiful people behind our partners. <br> Want to <strong>become a partner</strong>? #[a(href="mailto:hello@coworkbuzz.com" target="_blank") Get in touch!]

  .partners

    .partners__support

      p Binary partner

      a(href="http://marzeelabs.org/" target="_blank")
        img(src="/images/home/logo_marzeelabs.jpg")

    .partners__support

      p Dreams partner

      a(href="http://www.gardenhousehostelporto.com/" target="_blank")
        img(src="/images/home/logo_GHH.jpg")

    .partners__support

      p Biblot partner

      a(href="http://www.http://oupasdesign.com/" target="_blank")
        img(src="/images/home/logo_oupas.jpg")

    .partners__support

      p Shout out partners

      a.partners__support__link(href="http://www.fesagency.pt/" target="_blank")
        img(src="/images/home/logo_fes.png")

      a.partners__support__link(href="https://www.nomadismodigital.pt/" target="_blank")
        img(src="/images/home/logo_nomadismodigital.png")

      a.partners__support__link(href="http://portugalstartups.com/" target="_blank")
        img(src="/images/home/logo_portugalstartups.png")
