section.partners-section

  h4.section-titles Partners

  .section-titles__underlines

  p This event wouldn’t be possible without the beautiful people behind our partners. <br> Want to <strong>become a partner</strong>? #[a(href="mailto:hello@coworkbuzz.com" target="_blank") Get in touch!]

  .partners

    .partners__support

      p Binary partner

      a(href="http://marzeelabs.org/" target="_blank")
        img(src="/images/home/logo_marzeelabs.jpg")

