section#register-section.register-section

  h4.section-titles Register

  .section-titles__underlines

  .register-options__wrapper
    .register-option
      .register-option__title Conference

      .register-option__info
        | 2 days of intense networking & knowledge. This ticket gives access to full day of Unconference

      a.register-option__action(href="http://registos.techdays.pt/Account/Registo" target="_blank") Get ticket!

    .register-option
      .register-option__title Camp

      .register-option__info
        | 3 days camp includes unconference, accommodation and awesome experiences.

      a.register-option__action(href="http://registos.techdays.pt/Account/Registo" target="_blank") Get ticket!

  p.pre-countdown Limited spots available and time is running out!

  .register-countdown
