section#register-section.register-section

  h4.section-titles Register

  .section-titles__underlines

  .section-titles__subtitle
    p Between Unconference and Camp, the community will have an awesome time together, learning by sharing.

    p <strong>Did you go to #[a(href="http://coworkingeurope.net/" target="_blank") Coworking Europe Conference 2016]? <br>We'd love to invite you to share your experience! :-)</strong> <br> Drop us a line to #[a(href="mailto:hello@coworkbuzz.com" target="_blank") hello@coworkbuzz.com].


  .register-options__wrapper
    
    .register-option
      h4.register-option__title Unconference

      .register-option__info
        | 2 days of networking & knowledge sharing through thematic conversations, active work sessions and exchanging notes over wine.


    .register-option
      h4.register-option__title.register-option__title--hide-mobile Camp + Unconference

      .register-option__info.register-option__info--hide-mobile
        | The 3 days camp includes the Unconference, accommodation for 2 nights, sharing room with some other participants, breakfast every morning and a delicious Porto experience.

  .register-options__wrapper
    .register-option

      .register-option__price 30€

      .register-option__note Early bird price<br>VAT excluded

      a.register-option__action(href="#{public._data.index.ticket_url}" target="_blank") Get ticket!

    .register-option

      h4.register-option__title.register-option__title--hide-desktop Camp + Unconference

      .register-option__info.register-option__info--hide-desktop
        | The 3 days camp includes the Unconference, accommodation for 2 nights, sharing room with some other participants, breakfast every morning and a delicious Porto experience.

      .register-option__price 80€

      .register-option__note Early bird price<br>VAT excluded

      a.register-option__action(href="#{public._data.index.ticket_url}" target="_blank") Get ticket!

  p.pre-countdown Limited spots available! Prices go up in:

  .register-countdown
