section#register-section.register-section

  h4.section-titles Register

  .section-titles__underlines

  .section-titles__subtitle
    p The community will have an awesome time together, learning by sharing.

    p <strong>Did you go to Cowork Buzz 2016?</strong> <br> We've got a special price for you! :-) <br> Hurry up, offer ends 10th of November.


  .register-options__wrapper

    .register-option
      h4.register-option__title Early Bird

      //-
        .register-option__info
          | 2 days of networking & knowledge sharing through thematic conversations,<br> active work sessions and exchanging notes over wine.

    .register-option
      h4.register-option__title.register-option__title--hide-mobile Full Price

      //-
        .register-option__info.register-option__info--hide-mobile
          | The 3 days camp includes the Unconference, accommodation for 2 nights, sharing room with some other participants, breakfast every morning and a delicious Porto experience.

  .register-options__wrapper
    .register-option

      .register-option__price 45€

      .register-option__note VAT included

      a.register-option__action(href="#{public._data.index.ticket_url}" target="_blank") Get ticket!

    .register-option

      h4.register-option__title.register-option__title--hide-desktop Camp + Unconference

      //-
        .register-option__info.register-option__info--hide-desktop
          | The 3 days camp includes the Unconference, accommodation for 2 nights, sharing room with some other participants, breakfast every morning and a delicious Porto experience.

      .register-option__price 55€

      .register-option__note VAT included

      a.register-option__action(href="#{public._data.index.ticket_url}" target="_blank") Get ticket!

  //-
    p.pre-countdown Limited spots available! Ticket sales end in:

    .register-countdown
