section#schedule-section.schedule-section

  h4.section-titles What's happening

  .section-titles__underlines

  .schedules__wrapper

    .schedule.schedule--highlight

      .schedule__title Day 1 - Warm-up
      .schedule__subtitle 9th of December

      .schedule__info
        p This day will be reserved for Camp participants only, with some nice, local activities crafted for you!

        .schedule__location.map-wrapper
          iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12017.048350004088!2d-8.6055631!3d41.1506321!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9bde8e5e522a6cb6!2sGarden+House+Hostel!5e0!3m2!1sen!2spt!4v1478711901338' width='100%' height='250' frameborder='0' style='border:0')

      .schedule__times

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 11h30 • 13h00
            .schedule__line-speaker Check-in at hostel & Get-to-know


        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 13h00 • 15h00
            .schedule__line-speaker Camp lunch


        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 15h00 • 17h30
            .schedule__line-speaker Coworking tour & Brussels Recap


        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 17h30 • 20h00
            .schedule__line-speaker Port wine. Walks. Talks.


        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 20h00 • 23h00
            .schedule__line-speaker Dinner: Community & the Campers


    .schedule

      .schedule__title Day 2 - Unconference
      .schedule__subtitle 10th of December

      .schedule__info
        p The Unconference will be running with 6 rounds of parallel sessions. Cowork Buzz is not about the speakers, but everyone’s views, experiences and group discussions. From management of coworking to future trends - you'll have a possibility to choose which conversations to join.

        .schedule__location.map-wrapper
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2055.6549209377117!2d-8.615015801839288!3d41.14665547787607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2464e2faa75095%3A0xace2178567e6a944!2sPorto+i%2Fo!5e0!3m2!1spt-BR!2spt!4v1477559532079' width='100%' height='250' frameborder='0' style='border:0')

        .schedules__speakers
          include ./_speakers-section

      .schedule__times

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 09h30 • 10h30
            .schedule__line-speaker Check-in


        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 10h30 • 11h00
            .schedule__line-speaker Round #0 - Why. How. What.


        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 11h00 • 12h00
            .schedule__line-speaker Round #1 - History & State of Coworking in Portugal

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 12h00 • 13h00
            .schedule__line-speaker Round #2 - Coworking Europe Debrief

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 13h00 • 15h00
            .schedule__line-speaker Best part of the day a.k.a. lunch

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 15h00 • 16h00
            .schedule__line-speaker Round #3 - parallel sessions:
              ul
                li Cowork in Small Cities
                li Coliving
                li Digital Nomads

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 16h00 • 17h00
            .schedule__line-speaker Round #4 - Coworker & Coworkings

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 17h00 • 17h30
            .schedule__line-speaker Café & Nata

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 17h30 • 18h30
            .schedule__line-speaker Round #5 - parallel sessions:
              ul
                li Events & Community
                li Cowork Management Software

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 18h30 • 20h00
            .schedule__line-speaker Round #6 - Future of Cowork & Networking over drinks

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 20h00 • 23h00
            .schedule__line-speaker Food time

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 23h00 • ...
            .schedule__line-speaker "Everybody dance now!"


    .schedule

      .schedule__title Day 3 - Wrap-up
      .schedule__subtitle 11th of December

      .schedule__info
        p Cowork Buzz was created as a platform not only to talk, but to act. Is 24 hours enough to build cool projects together and bring the industry to the next level? Awesome ideas are about to be born here, don't miss this!

        .schedule__location.map-wrapper
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.709501688762!2d-8.616973085107611!3d41.14086717928759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2464e03794e77d%3A0xc30dae5e103fabaf!2sPorto+i%2Fo+Ribeira!5e0!3m2!1sen!2spt!4v1478712362069' width='100%' height='250' frameborder='0' style='border:0')

      .schedule__times

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 10h00 • 11h30
            .schedule__line-speaker Final Round


        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 11h30 • 13h00
            .schedule__line-speaker Pitch it Out!
