section#schedule-section.schedule-section

  h4.section-titles Programa

  .section-titles__underlines

  .schedule

    .schedule__line
      .schedule__line__inner
        .schedule__line-hour
        .schedule__line-speaker SPEAKERS


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 10h00 • 10h15
        .schedule__line-speaker Receção e Boas-vindas


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 10h20 • 10h50
        .schedule__line-speaker <strong>Drupal numa perspectiva de negócio</strong><br>Ricardo Marcelino


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 10h55 • 11h25
        .schedule__line-speaker <strong>Como contribuir para a Comunidade Drupal</strong><br>Francisco Almeida


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 11h25 • 11h45
        .schedule__line-speaker Coffee Break


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 11h50 • 12h20
        .schedule__line-speaker <strong>Welcome to Drupal</strong><br>Hernâni Borges de Freitas


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 12h25 • 12h55
        .schedule__line-speaker <strong>Decoupled: D8 como backend para websites e mobile Apps</strong><br>Bruno Mateus


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 13h00 • 15h00
        .schedule__line-speaker Almoço


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 15h00 • 15h30
        .schedule__line-speaker <strong>Profiles in Drupal</strong><br>Luis Correia


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 15h35 • 16h05
        .schedule__line-speaker <strong>Implementing Site Reliability Engineering @Acquia</strong><br>Ricardo Amaro


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 16h10 • 16h40
        .schedule__line-speaker <strong>Drupal 8: Inside Out</strong><br>Catarina Clemente


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 16h45 • 17h00
        .schedule__line-speaker Encerramento


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 17h30
        .schedule__line-speaker <a class="schedule__line-logo" href="http://www.caledooiro.com/" target="_blank"><img src="/images/home/logo_caledooiro.png" title="Cale do Oiro" /></a> Passeio de moliceiro (lotado)<br>Com apoio de <a href="http://www.caledooiro.com/" target="_blank">Cale do Oiro</a>