section#schedule-section.schedule-section

  h4.section-titles What's happening

  .section-titles__underlines

  .schedules__wrapper

    .schedule.schedule

      .schedule__title Day 1 - Start and chill
      .schedule__subtitle 8th of December

      .schedule__info

      .schedule__times

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 14h30 • 15h30
            .schedule__line-speaker Check-in


        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 15h30 • 16h30
            .schedule__line-speaker Intro & Get to know


        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 16h30 • 18h00
            .schedule__line-speaker Coworking Europe Conference @ Dublin Recap

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 18h00 • 18h30
            .schedule__line-speaker Gimme some coffee!

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 18h30 • 19h00
            .schedule__line-speaker 2017 in review: Community achievments


        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 19h30 • 20h00
            .schedule__line-speaker Wrap up

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 20h00 • 23h59
            .schedule__line-speaker Drinks & Dinner


    .schedule

      .schedule__title Day 2 - Let's pick our brains!
      .schedule__subtitle 9th of December

      .schedule__info

        //-
          .schedule__location.map-wrapper
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2055.6549209377117!2d-8.615015801839288!3d41.14665547787607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2464e2faa75095%3A0xace2178567e6a944!2sPorto+i%2Fo!5e0!3m2!1spt-BR!2spt!4v1477559532079' width='100%' height='250' frameborder='0' style='border:0')
      //-
        .schedules__speakers
          include ./_speakers-section

      .schedule__times

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 09h00 • 10h30
            .schedule__line-speaker Breakfast & wake up call

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 10h30 • 13h00
            .schedule__line-speaker Let's brainstorm
              ul
                li Collaborative economy & future of (co)work    
                li Generations and spaces

        .schedule__line
          .schedule__line__inner
            .schedule__line-hour 13h00 • 15h00
            .schedule__line-speaker Eat, nap, love.

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 15h00 • 15h30
            .schedule__line-speaker Let's talk business

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 15h30 • 19h00
            .schedule__line-speaker Let's share
              ul  
                li Unconference sessions
                li <i>cófi breique</i>

        .schedule__line.schedule__line--break
          .schedule__line__inner
            .schedule__line-hour 19h00 • 20h00
            .schedule__line-speaker Wrap up
              ul
                li Set your own game
                li Beer & collaborative/cooperative clean up :-)

        .schedule__line.schedule__line
          .schedule__line__inner
            .schedule__line-hour 20h00 • 23h59
            .schedule__line-speaker Hit the food, Jack!


    .schedule

      .schedule__title Day 3 - Enjoy the city
      .schedule__subtitle 10th of December

      .schedule__subtitle
        p Cowork is not only about work!
        p Social activities around the city. You'll get a chance to book your spot during the conference!

      //-
        .schedule__location.map-wrapper
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2055.6549209377117!2d-8.615015801839288!3d41.14665547787607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2464e2faa75095%3A0xace2178567e6a944!2sPorto+i%2Fo!5e0!3m2!1spt-BR!2spt!4v1477559532079' width='100%' height='250' frameborder='0' style='border:0')

      .schedule__times

