section#schedule-section.schedule-section

  h4.section-titles Schedule

  .section-titles__underlines

  .schedules__wrapper

    .schedule

      .schedule__title Day 10 - Conference

      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 11h30 • 13h00
          .schedule__line-speaker Check-in at hostel & Get-to-know


      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 13h00 • 15h00
          .schedule__line-speaker Camping lunch


      .schedule__line.schedule__line--break
        .schedule__line__inner
          .schedule__line-hour 15h00 • 17h30
          .schedule__line-speaker Coworking tour & Brussels Recap


      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 17h30 • 20h00
          .schedule__line-speaker Port. Walks. Talks.


      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 20h00 • 23h00
          .schedule__line-speaker Dinner: Community & The Campers


    .schedule

      .schedule__title Day 11 - Conference

      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 09h30 • 10h30
          .schedule__line-speaker Check-in


      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 10h30 • 11h00
          .schedule__line-speaker Why. How. What.


      .schedule__line.schedule__line--break
        .schedule__line__inner
          .schedule__line-hour 11h00 • 12h00
          .schedule__line-speaker Round #1

      .schedule__line.schedule__line--break
        .schedule__line__inner
          .schedule__line-hour 12h00 • 13h00
          .schedule__line-speaker Round #2

      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 13h00 • 15h00
          .schedule__line-speaker Best part of the day

      .schedule__line.schedule__line--break
        .schedule__line__inner
          .schedule__line-hour 15h00 • 16h00
          .schedule__line-speaker Round #3

      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 16h00 • 16h30
          .schedule__line-speaker Café com uma Nata

      .schedule__line.schedule__line--break
        .schedule__line__inner
          .schedule__line-hour 15h00 • 16h00
          .schedule__line-speaker Round #4

      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 18h00 • 20h00
          .schedule__line-speaker Talks over wine

      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 20h00 • 22h00
          .schedule__line-speaker Food time

      .schedule__line
        .schedule__line__inner
          .schedule__line-hour 22h00 • 23h00
          .schedule__line-speaker "Everybody dance now!"

