.drupal-social__wrapper

  ul.drupal-social
    li
      a(href="https://twitter.com/drupalportugal" target="_blank")
        span.drupalday-twitter

    li
      a(href="https://www.facebook.com/drupalportugal/" target="_blank")
        span.drupalday-facebook

    li
      a(href="http://drupal-pt.org/" target="_blank")
        span.drupalday-druplicon
