section#organisation-section.sponsors-section

  h4.section-titles Organised by

  .section-titles__underlines

  p Cowork Buzz was crafted with love by #[a(href="http://porto.io/" target="_blank") Porto i/o] team. <br> From the community to the community.

  .sponsors

    .sponsors__organization

      .sponsors__organization-organizer

        a(href="http://porto.io/" target="_blank")
          img(src="/images/home/logo_porto_io.png")


section#sponsors-section.sponsors-section

  h4.section-titles Partners

  .section-titles__underlines

  p This event wouldn’t be possible without the beautiful people behind our partners. <br> Want to <b>become a partner</b>? #[a(href="mailto:hello@coworkbuzz.com" target="_blank") Get in touch!]

  .sponsors

    .sponsors__support

      p Binary partner

      a(href="http://marzeelabs.org/" target="_blank")
        img(src="/images/home/logo_marzeelabs.jpg")

    .sponsors__support

      p Dreams partner

      a(href="http://marzeelabs.org/" target="_blank")
        img(src="/images/home/logo_GHH.jpg")
