section#sponsors-section.sponsors-section

  h4.section-titles Organizadores

  .section-titles__underlines

  .sponsors

    .sponsors__organization

      .sponsors__organization-organizer

        p Coordenação

        a(href="http://drupal-pt.org/" target="_blank")
          img(src="/images/home/logo_drupal_pt.jpg")

      .sponsors__organization-host

        p Anfitrião

        a(href="http://www.techdays.pt/" target="_blank")
          img(src="/images/home/logo_techdays.jpg")

    .sponsors__support

      p Apoio

      a(href="http://marzeelabs.org/" target="_blank")
        img(src="/images/home/logo_marzeelabs.jpg")

      a(href="http://www.pictonio.com/" target="_blank")
        img(src="/images/home/logo_pictonio.jpg")
