section#sponsors-section.sponsors-section

  h4.section-titles Organizers

  .section-titles__underlines

  .sponsors

    .sponsors__organization

      .sponsors__organization-organizer

        p Coordination

        a(href="http://drupal-pt.org/" target="_blank")
          img(src="/images/home/logo_drupal_pt.jpg")


    .sponsors__support

      p Sponsors

      a(href="http://marzeelabs.org/" target="_blank")
        img(src="/images/home/logo_marzeelabs.jpg")
