footer.footer

  .footer__copyright
    p Cowork Buzz brought to you by your friends at <a href="http://porto.io" target="_blank">Porto i/o</a> since 2016.

  .footer__social
    p Follow us and spread the word <strong>#CoworkBuzz</strong>
    include _social-media
