section#proposals-section.proposals-section

  h4.section-titles Propostas

  .section-titles__underlines

  p
    | O&nbsp;
    span Drupal Day
    |&nbsp;é um evento feito para e pela&nbsp;
    span Comunidade Drupal
    |&nbsp;, como tal oferecemos aqui a oportunidade de partilhares temas, assuntos, algo que queres dar a conhecer, como aquela solução de que tens orgulho e que achas que o resto da comunidade devia saber.<br><br>
    span Agora é a tua oportunidade.

  a(href="https://groups.drupal.org/node/512703" target="_blank") Submete a tua sessão
