.intro-section {
  background: url(/media/home/intro.jpg) center center palette(white);
  background-size: cover;
  min-height: 1%;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(palette(white), 0.6);
  }

  @include mq($until: break-medium) {
    padding-top: ritmo(10);
  }

  @include mq($from: break-medium) {
    padding-top: ritmo(11);
  }
}

.intro-section__inner {
  @include container(1000px);
  position: relative;
  z-index: 100;
  padding-bottom: 56.25%;
  max-height: 60vh;

  @include mq($from: break-large) {
    padding-bottom: 33.3334%;
  }
}


.intro-section__title {
  @include span(isolate 3.5 at 2.25);
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  margin-bottom: ritmo(5);

  @include mq($from: break-medium) {
    @include span(isolate 3 at 2.5);
  }
}

.intro-section__action {
  display: inline-block;
  border-radius: 8px;
  background: rgba(palette(white), 0.8);
  color: palette(red, mid-dark);
  padding: ritmo(1) 20px;
  @include ritmo-top-margin(2);
  text-transform: uppercase;
  letter-spacing: .2em;
  transform: translateX(-7%);
  width: 45%;
  min-width: 180px;
  text-align: center;
  margin-bottom: 10px;

  &:hover {
    background: palette(white);
    color: palette(red);
  }

  @include mq($from: break-medium) {
    @include ritmo-font-size(20px);
    padding: ritmo(2) 10px;
  }
}

.intro-section__subtitle {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: bold;
  line-height: 1.2;

  @include mq($from: break-medium) {
    @include ritmo-font-size(20px);
  }
}
