.partners-section {
  @extend .section-commons;
  background: palette(white);

  .section-titles__underlines {
    background: palette(black);

    &:after {
      background: palette(black);
    }
  }
}

.partners {
  @include container(800px);
  text-align: center;

  p {
    margin-bottom: ritmo(1);
  }
}

.partners__support__content {
  @include container(800px);
}

.partners__support__wrapper {
  @include container(1200px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include mq($from: break-medium) {
    flex-wrap: nowrap;
  }
}

.partners-main {
  margin: ritmo(3) auto ritmo(7) auto;
}

.partners__organization {
  text-align: left;
  //@include span(6);
  margin-bottom: ritmo(5);
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.partners__organization-organizer {
  //@include span(3);
}

.partners__host {
  //@include span(3);
}

.partners__support {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 18px ritmo(6);

  @include mq($from: break-medium) {
    margin: 0 18px 0;
  }
}

//.partners__support__link {
//   display: block;
//   margin: ritmo(3) auto;
//   @include mq($from: break-medium-small) {
//     display: inline-block;
//     margin: 0 45px 0 0;
//     &:last-child {
//       margin: 0;
//     }
//   }
// }
.partners__support__link {
  display: inline-flex;
  align-items: center;
}

.partners__logo {
  width: 64px;
}

.partners__support__logo {
  width: 64px;

  @include mq($from: break-medium) {
    width: 75px;
  }
}
