{{ define "main" }}

  {{ partial "homepage/intro.html" . }}
  {{ partial "homepage/about.html" . }}

  {{ if (ne $.Site.Data.settings.ticketurl "")  }}
    {{ partial "homepage/register.html" . }}
  {{ end }}

  {{ partial "homepage/schedule.html" . }}
  {{ partial "homepage/map.html" . }}

  <div id="sponsors-section">
    {{ partial "homepage/organized.html" . }}
    {{ partial "homepage/partners.html" . }}
  </div>

  {{ if (eq $.Site.Data.settings.ticketurl "") }}
    {{ partial "homepage/register.html" . }}
  {{ end }}

  {{ partial "homepage/contacts.html" . }}

{{ end }}
