<section class="organized-section" id="sponsors-section">
  <h4 class="section-titles">Organised by</h4>
  <div class="section-titles__underlines"></div>
  <p>
    Cowork Buzz was crafted with love by <a href="http://porto.io/" target="_blank">Porto i/o</a> team.
    <br>
    From the community to the community.
  </p>
  <div class="organized">
    <div class="organized__organization">
      <div class="organized__organization-organizer">
        <a href="http://porto.io/" target="_blank">
          <img src="/media/home/logo_porto_io.png"/>
        </a>
      </div>
    </div>
  </div>
</section>
