<section class="register-section" id="register-section">
  <h4 class="section-titles">Register</h4>
  <div class="section-titles__underlines"></div>
  <div class="section-titles__subtitle">
    <p>The community will have an awesome time together, learning by sharing.</p>
    <p>
      <strong>Did you go to Cowork Buzz 2016?</strong>
      <br>
      We've got a special price for you! :-)
      <br>
      Hurry up, offer ends 14th of November.
    </p>
  </div>
  <div class="register-options__wrapper">
    <div class="register-option">
      <h4 class="register-option__title">Early Bird</h4>
    </div>
    <div class="register-option">
      <h4 class="register-option__title register-option__title--hide-mobile">Full Price</h4>
    </div>
  </div>
  <div class="register-options__wrapper">
    <div class="register-option">
      <div class="register-option__price">55€</div>
      <div class="register-option__note">VAT included</div>
      <a class="register-option__action" href="{{ $.Site.Data.settings.ticketurl }}" target="_blank">Get ticket!</a>
    </div>
    <div class="register-option">
      <h4 class="register-option__title register-option__title--hide-desktop">Camp + Unconference</h4>
      <div class="register-option__price">65€</div>
      <div class="register-option__note">VAT included</div>
      <a class="register-option__action" href="{{ $.Site.Data.settings.ticketurl }}" target="_blank">Get ticket!</a>
    </div>
  </div>
</section>
